Repository LIKELION4-MofMof/MofMof, pull requests merged in 2023-03, with the labels that each got.

#2 [build] styled-reset 설치 및 적용
  package-lock.json
  package.json
  src/App.js
  src/index.js
  src/styles/GlobalStyle.jsx
Labels: Style, Build

#4 [style] App size 수정 및 전역 스타일링 추가
  src/App.css
  src/styles/GlobalStyle.jsx
Labels: Style

#11 [헤더, 네비게이션] 퍼블리싱과 주요 기능 일부 완성
  package-lock.json
  package.json
  src/App.js
  src/assets/icon/carrot.svg
  src/assets/icon/close.svg
  src/assets/icon/diary.svg
  src/assets/icon/down.svg
  src/assets/icon/guide.svg
  src/assets/icon/home.svg
  src/assets/icon/menuIcon.svg
  src/assets/icon/mypage.svg
  src/assets/icon/notification.svg
  src/assets/icon/notificationSolid.svg
  src/assets/icon/search.svg
  src/assets/icon/up.svg
  src/assets/logo/logo.svg
  src/components/common/A11yHidden/A11yHidden.jsx
  src/components/common/Header/Header.jsx
  src/components/common/Header/HomeLink.jsx
  src/components/common/Header/Logo.jsx
  src/components/common/Header/Notification.jsx
  src/components/common/Menu/Greeting.jsx
  src/components/common/Menu/Menu.jsx
  src/components/common/Menu/MenuDropDown.jsx
  src/components/common/Menu/MenuList.jsx
  src/components/common/Menu/data.jsx
  src/components/common/Navigation/Navigation.jsx
  src/components/index.jsx
  src/pages/FattailHome/FattailHome.jsx
Labels: Feature, Style

#21 [모프계산기-계산] 아빠 도마뱀 모프값 입력 기능
  jsconfig.json
  package-lock.json
  package.json
  server/db/FattailMorph.json
  src/App.css
  src/App.js
  src/assets/alarm.svg
  src/assets/icon/ArrowChevron.svg
  src/assets/icon/Search.svg
  src/assets/icon/carrot.svg
  src/assets/icon/close.svg
  src/assets/icon/diary.svg
  src/assets/icon/down.svg
  src/assets/icon/guide.svg
  src/assets/icon/home.svg
  src/assets/icon/menuIcon.svg
  src/assets/icon/mypage.svg
  src/assets/icon/notification.svg
  src/assets/icon/notificationSolid.svg
  src/assets/icon/search.svg
  src/assets/icon/up.svg
  src/assets/logo.svg
  src/assets/logo/logo.svg
  src/assets/menuIcon.svg
  src/components/common/A11yHidden/A11yHidden.jsx
  src/components/common/Header/Alarm.jsx
  src/components/common/Header/Header.jsx
  src/components/common/Header/HomeLink.jsx
  src/components/common/Header/Logo.jsx
  src/components/common/Header/Notification.jsx
  src/components/common/Layout/Layout.jsx
  src/components/common/Menu/Greeting.jsx
  src/components/common/Menu/Menu.jsx
  src/components/common/Menu/MenuDropDown.jsx
  src/components/common/Menu/MenuList.jsx
  src/components/common/Menu/data.jsx
  src/components/common/Navigation/Navigation.jsx
  src/components/index.jsx
  src/components/main/Crested.jsx
  src/components/main/Fattail.jsx
  src/components/main/Leopard.jsx
  src/components/morphCalc/MorphCalc.jsx
  src/components/morphCalc/morphInputContainer/MorphButton.jsx
  src/components/morphCalc/morphInputContainer/MorphInputContainer.jsx
  src/components/morphCalc/morphInputContainer/MorphInputContainer.styled.jsx
  src/components/morphCalc/morphInputContainer/MorphListDropBox.jsx
  src/components/morphCalc/morphInputContainer/SelectedBtn.jsx
  src/components/morphInfo/MorphInfo.jsx
  src/components/morphInfo/MorphInfo.styled.jsx
  src/index.js
  src/pages/CrestedHome/CrestedHome.jsx
  src/pages/CrestedHome/CrestedMofDetail.jsx
  src/pages/CrestedHome/CrestedMofInfo.jsx
  src/pages/FattailHome/FattailHome.jsx
  src/pages/FattailHome/FattailMofDetail.jsx
  src/pages/FattailHome/FattailMofInfo.jsx
  src/pages/LeopardHome/LeopardHome.jsx
  src/pages/LeopardHome/LeopardMofDetail.jsx
  src/pages/LeopardHome/LeopardMofInfo.jsx
  src/styles/GlobalStyle.jsx
Labels: Feature, Style

#24 [모프계산기-계산] 부모 모프 입력 모두 추가 및 계산기 적용을 위한 배열 변환 완료
  src/components/morphCalc/MorphCalc.jsx
  src/components/morphCalc/MorphCalc.styled.jsx
  src/components/morphCalc/morphInputContainer/MorphButton.jsx
  src/components/morphCalc/morphInputContainer/MorphInputContainer.jsx
  src/components/morphCalc/morphInputContainer/MorphInputContainer.styled.jsx
  src/components/morphCalc/morphInputContainer/MorphListDropBox.jsx
  src/components/morphCalc/morphInputContainer/SelectedBtn.jsx
Labels: Feature, Style, Chore

#29 [헤더, 네비게이션] 레이아웃 수정
  src/App.css
  src/App.js
  src/assets/alarm.svg
  src/assets/icon/carrot.svg
  src/assets/icon/close.svg
  src/assets/icon/diary.svg
  src/assets/icon/down.svg
  src/assets/icon/guide.svg
  src/assets/icon/home.svg
  src/assets/icon/menuIcon.svg
  src/assets/icon/mypage.svg
  src/assets/icon/notification.svg
  src/assets/icon/notificationSolid.svg
  src/assets/icon/right.svg
  src/assets/icon/search.svg
  src/assets/icon/up.svg
  src/assets/logo.svg
  src/assets/menuIcon.svg
  src/components/common/Header/Alarm.jsx
  src/components/common/Header/Header.jsx
  src/components/common/Header/Header.styled.jsx
  src/components/common/Header/Logo.jsx
  src/components/common/Header/Notification.jsx
  src/components/common/Layout/Layout.jsx
  src/components/common/Menu/Greeting.jsx
  src/components/common/Menu/Menu.jsx
  src/components/common/Menu/Menu.styled.jsx
  src/components/common/Menu/MenuDropDown.jsx
  src/components/common/Menu/MenuList.jsx
  src/components/common/Navigation/Navigation.jsx
  src/components/common/Navigation/Navigation.styled.jsx
Labels: Style

#30 [styles] 애플리케이션 공통 레이아웃 적용
  src/App.css
  src/components/common/Navigation/Navigation.styled.jsx
  src/styles/GlobalStyle.jsx
Labels: Style

#31 [모프계산기-계산] 공통 레이아웃 및 초기화 버튼 기능
  src/App.css
  src/App.js
  src/assets/alarm.svg
  src/assets/icon/carrot.svg
  src/assets/icon/close.svg
  src/assets/icon/diary.svg
  src/assets/icon/down.svg
  src/assets/icon/guide.svg
  src/assets/icon/home.svg
  src/assets/icon/menuIcon.svg
  src/assets/icon/mypage.svg
  src/assets/icon/notification.svg
  src/assets/icon/notificationSolid.svg
  src/assets/icon/right.svg
  src/assets/icon/up.svg
  src/assets/logo.svg
  src/assets/logo/mlogo.svg
  src/assets/menuIcon.svg
  src/components/common/Header/Alarm.jsx
  src/components/common/Header/Header.jsx
  src/components/common/Header/Header.styled.jsx
  src/components/common/Header/Logo.jsx
  src/components/common/Header/Notification.jsx
  src/components/common/Layout/Layout.jsx
  src/components/common/Menu/Greeting.jsx
  src/components/common/Menu/Menu.jsx
  src/components/common/Menu/Menu.styled.jsx
  src/components/common/Menu/MenuDropDown.jsx
  src/components/common/Menu/MenuList.jsx
  src/components/common/Navigation/Navigation.jsx
  src/components/common/Navigation/Navigation.styled.jsx
  src/components/morphCalc/MorphCalc.jsx
  src/components/morphCalc/MorphCalc.styled.jsx
  src/components/morphCalc/morphInputContainer/MorphInputContainer.jsx
  src/components/morphCalc/morphInputContainer/MorphInputContainer.styled.jsx
  src/styles/GlobalStyle.jsx
Labels: Feature, Style

#33 [헤더,네비게이션, style] 헤더 및 네비게이션 아이콘, 레이아웃 수정 / 전역 폰트 설정
  server/db/FattailMorph.json
  src/App.css
  src/App.js
  src/assets/fonts/Pretendard-Regular.woff
  src/assets/icon/ArrowChevron.svg
  src/assets/icon/carrot.svg
  src/assets/icon/close.svg
  src/assets/icon/customer.svg
  src/assets/icon/diary.svg
  src/assets/icon/down.svg
  src/assets/icon/guide.svg
  src/assets/icon/home.svg
  src/assets/icon/lizard.svg
  src/assets/icon/logOut.svg
  src/assets/icon/menuIcon.svg
  src/assets/icon/mypage.svg
  src/assets/icon/notification.svg
  src/assets/icon/search.svg
  src/assets/icon/searching.svg
  src/assets/icon/setting.svg
  src/assets/icon/up.svg
  src/assets/icon/userProfile.svg
  src/assets/logo/mlogo.svg
  src/components/common/Header/Header.jsx
  src/components/common/Header/Header.styled.jsx
  src/components/common/Header/Logo.jsx
  src/components/common/Header/LogoHorizon.jsx
  src/components/common/Header/Notification.jsx
  src/components/common/Menu/Greeting.jsx
  src/components/common/Menu/Menu.jsx
  src/components/common/Menu/Menu.styled.jsx
  src/components/common/Menu/MenuDropDown.jsx
  src/components/common/Menu/MenuList.jsx
  src/components/common/Menu/data.jsx
  src/components/common/Navigation/Navigation.jsx
  src/components/common/Navigation/Navigation.styled.jsx
  src/components/morphCalc/MorphCalc.jsx
  src/components/morphCalc/MorphCalc.styled.jsx
  src/components/morphCalc/morphCalcResult/MorphCalcResult.jsx
  src/components/morphCalc/morphInputContainer/MorphButton.jsx
  src/components/morphCalc/morphInputContainer/MorphInputContainer.jsx
  src/components/morphCalc/morphInputContainer/MorphInputContainer.styled.jsx
  src/components/morphCalc/morphInputContainer/MorphListDropBox.jsx
  src/components/morphCalc/morphInputContainer/SelectedBtn.jsx
  src/index.js
  src/pages/FattailHome/FattailHome.jsx
  src/styles/GlobalStyle.jsx
Labels: Style

#43 [헤더, 네비게이션, 펫테일 페이지] 퍼블리싱과 라우팅 기능 추가 / key 에러 해결
  public/index.html
  src/App.js
  src/assets/geckoImg/fattailPageGecko.png
  src/assets/icon/backIcon.svg
  src/assets/icon/board.png
  src/assets/icon/calculator.png
  src/assets/icon/diary.png
  src/assets/icon/favorite.svg
  src/assets/icon/presentation.png
  src/assets/icon/share.svg
  src/components/common/Header/Header.styled.jsx
  src/components/common/Header/HeaderVersion.jsx
  src/components/common/Header/Logo.jsx
  src/components/common/Header/LogoHorizon.jsx
  src/components/common/Menu/MenuList.jsx
  src/components/common/Navigation/Navigation.jsx
  src/components/common/Navigation/Navigation.styled.jsx
  src/components/main/Main.jsx
  src/components/morphCalc/MorphCalc.jsx
  src/index.js
  src/pages/Board/Board.jsx
  src/pages/CrestedHome/CrestedHome.jsx
  src/pages/Diary/Diary.jsx
  src/pages/EssentialGuide/EssentialGuide.jsx
  src/pages/FattailHome/FattailHome.jsx
  src/pages/FattailPageCommon.styled.jsx
  src/pages/LeopardHome/LeopardHome.jsx
  src/pages/MyPage/MyPage.jsx
  src/pages/Search/Search.jsx
Labels: BugFIx, Feature, Style, Chore

#51 모프소개 페이지 완성
  package-lock.json
  package.json
  src/App.css
  src/assets/icon/close.svg
  src/assets/icon/searching.svg
  src/components/common/A11yHidden/A11yHidden.jsx
  src/components/common/Menu/Menu.jsx
  src/components/morphInfo/MorphInfo.jsx
  src/components/morphInfo/MorphInfo.styled.jsx
  src/components/morphInfo/MorphListDropDown.jsx
  src/components/morphInfo/MorphListDropDownItem.jsx
  src/components/morphInfo/MorphListItem.jsx
  src/components/morphInfo/morphDetail/MorphDetail.jsx
  src/components/morphInfo/morphDetail/MorphDetail.styled.jsx
  src/firebase-db/app.js
  src/index.js
  src/pages/FattailHome/FattailMofInfo.jsx
  src/styles/GlobalStyle.jsx
Labels: BugFIx, Feature, Refactoring, Style, Chore

#53 모프모프 메인 페이지 완료
  package-lock.json
  package.json
  src/App.js
  src/assets/icon/star-f.svg
  src/assets/icon/star.svg
  src/assets/image/lizard01.svg
  src/assets/image/lizard02.svg
  src/assets/image/lizard03.svg
  src/assets/image/lizard04.svg
  src/assets/image/lizard05.svg
  src/assets/image/swiper-01.svg
  src/assets/image/swiper-02.svg
  src/assets/image/swiper-03.svg
  src/components/main/Card.jsx
  src/components/main/Lizardmainlist.jsx
  src/components/main/Main.jsx
  src/components/main/Slider.jsx
  src/components/main/Swiper/Swiper.jsx
  src/components/main/filter.jsx
  src/index.js
Labels: Feature, Style

#54 [헤더, 메뉴, 회원가입, 로그인] 헤더 버전 추가 / 메뉴 라우팅 기능 추가 / 회원가입, 로그인 퍼블리싱 및 기능 추가
  .gitignore
  .vscode/settings.json
  package-lock.json
  package.json
  src/assets/icon/check.svg
  src/assets/icon/checkAgreement.svg
  src/assets/icon/checkAgreementAll.svg
  src/assets/icon/checkAgreementAllSolid.svg
  src/assets/icon/checkOrange.svg
  src/components/common/Header/Header.styled.jsx
  src/components/common/Header/HeaderVersion.jsx
  src/components/common/Menu/Greeting.jsx
  src/components/common/Menu/Menu.styled.jsx
  src/components/common/Menu/MenuDropDown.jsx
  src/components/common/Menu/MenuList.jsx
  src/components/morphCalc/MorphCalc.jsx
  src/firebase-db/app.js
  src/firebase-db/auth-db/index.js
  src/firebase-db/auth-db/useAuthState.js
  src/firebase-db/auth-db/useSignIn.js
  src/firebase-db/auth-db/useSignOut.js
  src/firebase-db/auth-db/useSignUp.js
  src/firebase-db/firestore-db/index.js
  src/firebase-db/firestore-db/useCreateAuthUser.js
  src/index.js
  src/pages/CrestedHome/CrestedHome.jsx
  src/pages/Login/Login.jsx
  src/pages/Login/Login.styled.jsx
  src/pages/Register/Register.jsx
  src/pages/Register/Register.styled.jsx
Labels: BugFIx, Feature, Style, Chore, Build

#56 모프 상세 페이지 퍼블리싱 및 기능 구현
  src/components/common/Menu/MenuDropDown.jsx
  src/components/morphInfo/MorphInfo.jsx
  src/components/morphInfo/morphDetail/MorphDetail.jsx
  src/components/morphInfo/morphDetail/MorphDetail.styled.jsx
  src/index.js
Labels: Style

#58 모프모프 메인 페이지 수정, 웹페이지 백그라운드 이미지 설정
  src/assets/image/bg.svg
  src/assets/image/bg2.svg
  src/assets/image/bg33.svg
  src/assets/image/c1.svg
  src/components/main/Card.jsx
  src/components/main/Crested.jsx
  src/components/main/Fattail.jsx
  src/components/main/Leopard.jsx
  src/components/main/Lizardmainlist.jsx
  src/components/main/Main.jsx
  src/components/main/Swiper/Swiper.jsx
  src/components/main/filter.jsx
  src/index.css
Labels: Style, Chore

#61 [회원가입, 로그인] 퍼블리싱 및 주요 기능 구현
  src/components/common/Menu/Menu.jsx
  src/pages/Login/Login.jsx
  src/pages/Register/Register.jsx
Labels: BugFIx, Feature, Style

#63 웹 페이지 백그라운드 배경 설정
  src/App.css
  src/assets/image/bg.svg
  src/assets/image/bg2.svg
  src/assets/image/bg33.svg
  src/assets/image/bgmofmof.svg
  src/index.css
Labels: Style

#64 [style] 백그라운드 이미지 비율 수정
  src/index.css
Labels: Style

#65 Dev morph info
  src/components/morphInfo/MorphInfo.jsx
  src/components/morphInfo/morphDetail/MorphDetail.jsx
  src/components/morphInfo/morphDetail/MorphDetail.styled.jsx
Labels: Feature, Style

#68 [로그인페이지] 로그인 상태에 따른 ui 변경
  src/components/common/Menu/Greeting.jsx
  src/components/common/Menu/Menu.jsx
  src/firebase-db/app.js
Labels: Feature, Setting

#69 환경 변수 설정에 따른 버그 해결 및 헤더, 네비게이션 width 값 조정
  src/components/common/Header/Header.styled.jsx
  src/components/common/Navigation/Navigation.styled.jsx
  src/firebase-db/app.js
Labels: BugFIx, Style

#70 [bug] list에 고유한 key 값 부여
  src/components/common/Menu/Greeting.jsx
  src/components/common/Menu/MenuDropDown.jsx
  src/components/common/Menu/MenuList.jsx
Labels: BugFIx

#73 [build] 경고 문구 무시하는 설정 추가
  package.json
Labels: Build
